article{
    margin-top: 3%;
    font-family: Helvetica, sans-serif;
}
.title-section-card{
    text-align: center;
    width: 10%;
    margin: auto;
}

.title-section-card h3{
    font-size: 25px;
    color : rgb(61, 61, 61);
}

/************************************/
.recetas{
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
}

.card{
    box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.2);
    padding: 15px;
    display: block;
    width: 20%;
    box-sizing: border-box;
    margin: 20px 20px;
}
.card h4{
    margin-top: 0px;
    margin-bottom: 5px;
}

.card-title{
    width: 100%;
    text-align: center;
}

.card .subtitule{
    font-size: 13px;
    color : rgb(61, 61, 61);
}

.card img{
    width: 100%;
    margin: auto;
}

.card button{
    border: solid  rgb(61, 61, 61) 1px;
    background-color: transparent;
    color: rgb(51, 51, 51);
    padding: 6px 0px;
    width: 100%;
    font-size: 16px;
}

.card button:hover{
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
}

@media screen and (max-width: 600px){
    .recetas{
        display: block;
    }
}