*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

article{
    display: flex;
}

.left-info{
    position: relative;
    color: whitesmoke;
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    cursor: pointer;
}
/*************************************/

.text-fondo{
    z-index: 10;
    margin-top: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 8%;
}

.text-fondo .row1 h1{
    font-size: 45px;
    color: whitesmoke;
}

.img-user{
    width: 25%;
}

.text-fondo .row2{
    display: flex;
    justify-content: space-around;
}

.text-fondo .row2 .col1{
    display: block;
}
.text-fondo .row2 .col1 button{
    display: block;
    margin-bottom: 15px;
    align-items: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.651);
    border: none;
    padding: 5px;
    width: 100%;
}

.text-fondo .row2 .col1 img{
    margin-right: 10px;
}

/********************************/
.text-fondo .row2 .col2{
    display: block;
    justify-content: space-around;
}

.text-fondo .row2 .col2 h3{
    display: block;
    justify-content: space-around;
    margin-top: 0px;
}

.text-fondo .row2 .col2 button{
    background-color: rgba(0, 0, 0, 0.589);
    border: none;
    padding: 8px;
    margin-left: 8px;
}


/*************************************/
.social-btn img{
    width: 30px;
}

/*************************************/
.img-fondo{
    z-index: 5;
}

.img-fondo img{
    width: 100%;
    filter: brightness(15%);
    position: absolute;
    height: 100vh;
}